Problem Statement 1:
====================
Is gender independent of education level? A random sample of 395 people were surveyed and each person was asked to 
report the highest education level they obtained. 
The data that resulted from the survey is summarized in the following table:
    High School Bachelors Masters Ph.d. Total
Female 60         54        46     41    201
Male   40         44        53     57    194
Total 100         98        99     98    395
Question: Are gender and education level dependent at 5% level of significance? 
In other words, given the data collected above, 
is there a relationship between the gender of an individual and the level of education that they have obtained?

H0: There is no relationship
H1: There is relationship

In [8]:
# use chi-square test
import pandas as pd
import numpy as np

In [38]:
list1=[60,40,100]
list2=[54,44,98]
list3=[46,53,99]
list4=[41,57,98]
list5=[201,194,395]
data = {
    'High_school':list1,
    'Bachelors':list2,
    'Masters':list3,
    'Phd':list4,
    'Total':list5
}
observed = pd.DataFrame( data = data,
    index = ['Female','Male','Total'])

In [65]:
# observed data
observed.iloc[:2,:4].values

array([[60, 54, 46, 41],
       [40, 44, 53, 57]], dtype=int64)

In [66]:
import scipy.stats as stats
chi2,p,dof,expected = stats.chi2_contingency(observed.iloc[:2,:4].values)

In [67]:
type(expected)

numpy.ndarray

In [68]:
chi2

8.006066246262538

In [69]:
p

0.045886500891747214

In [70]:
dof

3

In [72]:
expected

array([[50.88607595, 49.86835443, 50.37721519, 49.86835443],
       [49.11392405, 48.13164557, 48.62278481, 48.13164557]])

In [ ]:
calculated=pd.DataFrame(expected,columns=data_1.columns,index=['Female','Male','Total'])

In [80]:
man_chi2 = sum([(o-e)**2/e for o,e in zip(observed.iloc[:2,:4].values,expected)])
sum(man_chi2)

8.006066246262538

In [82]:
alpha=0.05
if p>alpha:
    print("there is no relationship. Accept NULL")
else:
    print("there is relationship. Reject NULL")

there is relationship. Reject NULL

Problem Statement 2:
Using the following data, perform a oneway analysis of variance using Î±=.05. Write up the results in APA format.
[Group1: 51, 45, 33, 45, 67]
[Group2: 23, 43, 23, 43, 45]
[Group3: 56, 76, 74, 87, 56]

As there are more than 2 groups we use ANOVA
NULL: all 3 groups have smae mean
ALTERNATIVE : not same

In [88]:
group1 = [51, 45, 33, 45, 67]
group2 = [23, 43, 23, 43, 45]
group3 = [56, 76, 74, 87, 56]
alpha = 0.05
n = 5
N = 15
no_of_groups = 3
dof_btwn = no_of_groups - 1 # (no of groups - 1)
dof_within = N - no_of_groups
dof_total = N - 1

In [89]:
import statsmodels.api
from statsmodels.formula.api import ols

In [90]:
dof_btwn,dof_within

(2, 12)

3.8852938346523933

In [99]:
g1_mean = sum(group1)/len(group1)
g2_mean = sum(group2)/len(group2)
g3_mean = sum(group3)/len(group3)
grand_mean = sum(group1+group2+group3)/(len(group1)+len(group2)+len(group3))

In [100]:
grand_mean

51.13333333333333

In [113]:
# ss_between
## sum of all groups ---> group_size*(group_mean - grand_mean)**2
ss_btwn = len(group1)*(g1_mean - grand_mean)**2 + len(group2)*(g2_mean - grand_mean)**2 + len(group3)*(g3_mean - grand_mean)**2
msst = ss_btwn/2

In [114]:
msst

1511.4666666666665

In [120]:
within_1 = sum([ (i-g1_mean)**2 for i in group1 ])
within_2 = sum([ (i-g2_mean)**2 for i in group2 ])
within_3 = sum([ (i-g3_mean)**2 for i in group3 ])
ss_within = within_1 + within_2 + within_3
msse = ss_within/(N-no_of_groups)
msse

155.06666666666666

In [121]:
f = msst/msse
f

9.747205503009457

In [131]:
p = stats.f.sf(f, dof_btwn, dof_within)
p

0.003059754143443061

In [132]:
import scipy.stats as stats

f_pkg,p_pkg = stats.f_oneway(group1,group2,group3)

In [135]:
if p_pkg > 0.05:
    print("accept null. all 3 groups have same ")
    print("APA format")
    print("F(" + str(dof_btwn)+","+str(dof_within)+") = " + str(f)+", p > 0.05")
else:
    print("reject null")
    print("APA format")
    print("F(" + str(dof_btwn)+","+str(dof_within)+") = " + str(f)+", p < 0.05")

reject null
APA format
F(2,12) = 9.747205503009457, p < 0.05

Problem Statement 3:
Calculate F Test for given 10, 20, 30, 40, 50 and 5,10,15, 20, 25.
For 10, 20, 30, 40, 50:

In [136]:
group_31 = [10, 20, 30, 40, 50]
group_32 = [5, 10, 15, 20, 25]
group_33 = [10, 20, 30, 40, 50]
f_3,p_3 = stats.f_oneway(group_31,group_32,group_33)

In [137]:
f_3

2.0

In [138]:
p_3

0.177978515625

In [142]:
if p_3 > 0.05:
    print("accept null. all 3 groups have same ")
    print("APA format")
    print("F(" + str(3-1)+","+str(3)+") = " + str(f_3)+", p > 0.05")
else:
    print("reject null")
    print("APA format")
    print("F(" + str(3-1)+","+str(3)+") = " + str(f_3)+", p < 0.05")

accept null. all 3 groups have same
APA format
F(2,3) = 2.0, p > 0.05